<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nabigeto.gavin.nabigetonabi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
     
        <service
            android:name=".Reminder_Scheduler.alarm_restart_service_a"
            android:exported="false" />

        <receiver
            android:name=".Reminder_Scheduler.start_receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Notification_Module.notification_reciever"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".FrontScreenLoader.FrontScreenLoader"
            android:label="SplashScreen"
            android:theme="@style/SplashScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <provider
            android:name=".UtilitiesDB.Alarm_Restart_ContentProvider"
            android:authorities="com.nabigeto.gavin.nabigetonabi.alarm_restart.provider"
            android:exported="true"
            android:permission="true"
            android:syncable="true" />
    </application>

</manifest>